.search__header {
  background-color: black;
  border-radius: 10px;
  padding-bottom: 0px;
  padding-top: 8px;

  // .search__input {
  //   padding-right: 0;
  // }

  // .clear-button {
  //   padding: 0;
  // }
}