.search__header {
  background-color: black;
  border-radius: 10px;
  padding-bottom: 0px;
  padding-top: 8px;

  .clear-button {
    padding: 0;
  }
}

// overwrite bootrap style of alert
.search__alert.alert {
  background: red;
  color: #ffffff8c;
  border: black;
}