$primary: #0dcaf0;
$body-bg: #222831;
$body-color: white;

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #222831;
}

.background-image {
  background-image: url('../img/final.webp');
  background-size: cover;
  background-attachment: fixed;
}